# exclude everything except the specific pattern
*

# pattern for files in root directory
!.gitignore
!LICENSE
!Makefile
!README.md
!test.py

# pattern for files in .github directory
!.github
.github/*
!.github/workflows
.github/workflows/*
!.github/workflows/main.yml

# pattern for files in include directory
!include
include/*
!include/vm.h
!include/yakvm.h

# pattern for files in driver directory
!driver
driver/*
!driver/Kbuild
!driver/main.c
!driver/vm.c
!driver/Makefile

# pattern for files in tool directory
!tool
tool/*
!tool/emulator.c
